.sea_*list
*.o
*.so
*.gcda
*.gcno
**/.DS_STORE
**/*.swp
**/*.sif
**/*.tar.gz
**/.*.*
**/.ipynb_checkpoints
**/__pycache__
.ccls-cache/
.vscode/
sea.ini
sea.log
build/*
source*
paper/*.pdf
paper/*.log
paper/*.aux
